
# Provide one entry in input for each desired analysis.
# The value on the left of the colon gives the label used for the analysis.
# The value on the right gives the study description file.

#   The GFA pipeline will run GFA on all of the tratits in the study description file.
#   It will also compute the GLS weights for all SNPs that have
#   complete data and compute the genetic correlation of the factors.

input:
    test1: "test_data/test_traits1.csv"
    test2: "test_data/test_traits2.csv"

analysis:
    # LD pruning options:
    # r2_thresh: threshold for pairwise r^2 between variants
    # clump_kb: Maximum distance for pruning.
    # ref_path: Path to plink format reference data (.bim .bed .fam)
    # ld_prioritization: either pvalue or rank, maybe eventually sd
    ldprune:
        r2_thresh: 0.01 # list ok
        clump_kb: 1000 # list ok
        ld_prioritization: ["pvalue"] # list ok,  "pvalue" or "rank"
        ref_path: "1kg_plink/EUR" # list not ok
    # R options:
    # Specifies options for how nuisance correlation is estimated.
    # Type can be either "ldsc", "pt", or "none". LDSC or pt will both work.
    #   pt is faster and generally gives very similar results to LDSC.
    # if type includes "pt", pthresh must be specified.
    # l2_dir is required if type includes "ldsc". This is the directory containing LD-scores
    # cond_num: Maximum condition number. R is estimated pairwise using either ldsc or p-thresholding strategy.
    #     the result may not be positive definite or may have very high condition number. The estimated
    #     matrix will be projected to the neares positive definite matrix with condition number less than cond_num.
    R:
      type: ["ldsc", "pt"] # options are "pt", "ldsc", "none", lidt ok
      pthresh: [0.05] # list ok
      l2_dir: "eur_w_ld_chr/" # list not ok
      cond_num: 1e3
    # GFA options:
    #   gfa_params: If "default", will use default parameters, otherwise provide a .RDS file containing a prameter list eg "list(max_iter = 500)".
    #   max_snps: largest number of variants to allow
    #   maxrep: If algorithm does not converge in maxiter iterations, the pipeline will try again this number of times. This allows restarting of non-converged fits.
    #   gfa_seed: Seed for GFA. This can be a list, in which case multiple fits will be done using different seeds.
    #   af_thresh: allele frequency threshold
    #   sample_size_tol: Tolerance for sample size variability around the median sample size per trait. Let M_t be the median sample size for trait t. If
    #              the sample size for SNP j in trait t is N_{j,t}, SNP j will be excluded unless (1-sample_size_tol)*M_t <= N_{j,t} <= (1 + sample_size_tol)*M_t
    #   The cor_clust option is useful when analyzing highly correlated traits from overlapping samples. Traits will be clustered greedily and a
    #         representative trait selected so that no pair of traits have nuisance correlation greater than the vlaue specified. If you don't
    #         need to perform clustering, just set cor_clust to 1.
    gfa:
      gfa_params: "default" # not a list
      max_snps: Inf # not a list
      maxrep: 5 # not a list
      gfa_seed: 1 # list ok
      af_thresh: 0.01 # not a list
      sample_size_tol: 0.1 # not a list

out:
    # Output data options:
    # data_dir: Directory to store reformatted data
    # output_dir: Where to store results
    data_dir: "gfa_data/"
    output_dir: "gfa_results/"

